#belowHeader
{
    background-color: black;
}

#question
{
    color: white;
    background-color: black;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

#answer
{
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(https://i.ibb.co/sWW6ZtR/popcorn-Bg.jpg);
}

#guessDiv, #feedbackDiv, #reviewDiv, #hintDiv
{
    color: white;
    background-color: black;
    padding: 20px;
    margin: 10px;
}